

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.main-view {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


.logo-image {
    width: 50%;

    /* height: 30%; */
    
    border-radius: 50%;
    /* margin:5px; */
    display: block;
}


.title {
    font-size: 3em;
    margin: 5px;
}